<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
 
  <a th:href="@{/}">Inicio</a>
 
     | &nbsp;
  
   <a th:href="@{/userInfo}">Información de usuario</a>
  
     | &nbsp;
  
   <a th:href="@{/admin}">Panel Administrador</a>
    
     | &nbsp;
      
    <a th:if="${userInfo != null}" th:href="@{/logout}">Logout</a>
  
</div>